<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <context id="my-blog-generator-config" targetRuntime="MyBatis3">
        <!--  generate Java code  -->
        <property name="javaFileEncoding" value="utf-8" />
        <!--  Java formatter      -->
        <property name="javaFormatter" value="org.mybatis.generator.api.dom.DefaultJavaFormatter"/>
        <!--  XML formatter      -->
        <property name="xmlFormatter" value="org.mybatis.generator.api.dom.DefaultXmlFormatter"/>
        <plugin type="org.mybatis.generator.plugins.ToStringPlugin"/>
        <!--  Cement Generator      -->
        <commentGenerator>
            <property name="suppressDate" value="true"/>
            <!-- delete auto generate cement? true: yes, false: no          -->
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>

        <!-- dataBase address, id, password       -->
        <jdbcConnection
            driverClass="com.mysql.cj.jdbc.Driver"
            connectionURL="jdbc:mysql://localhost:3306/myblog?useUnicode=true&amp;characterEncoding=utf8&amp;autoReconnect=true&amp;useSSL=false&amp;serverTimezone=GMT%2B8"
            userId="root"
            password="81638252a@"
        />
        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>
        <!-- javaModel Generator      -->
        <javaModelGenerator targetPackage="com.lou.springboot.entity" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>
        <!-- SQL Mapper Generator       -->
        <sqlMapGenerator targetPackage="mapper" targetProject="src/main/resources">
            <property name="enablesSubPackages" value="true"/>
        </sqlMapGenerator>
        <!-- Dao Generator       -->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.lou.springboot.dao" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>

        <!-- Tables that need to automatically generate code and corresponding class name settings     -->
        <!-- Used       -->
<!--        <table tableName="generator_test" domainObjectName="GeneratorTest"-->
<!--               enableCountByExample="false"-->
<!--               enableUpdateByExample="false"-->
<!--               enableDeleteByExample="false"-->
<!--               enableSelectByExample="false"-->
<!--               selectByExampleQueryId="false"-->
<!--               />-->
    </context>
</generatorConfiguration>